*,
    *::before,
    *::after {
      box-sizing: border-box;
    }


    .teachers-title{
        display: inline-block;
        margin-top: 117px;
    }


    .teachers-wrapper {
        cursor: pointer;
    }
    .teachers-wrapper-title {
        display: flex;
        padding: 117px 100px 26px 167px;
    }
    .teachers-wrapper-image {
        position: relative;
        height: 250px;
        width: 244px;
        overflow: hidden;
        margin-bottom: 30px;
    }
    .border-back svg path {
        transition: 400ms;
    }
    .teachers-wrapper:hover .border-back svg path {
        fill: #FCB346;
    }
    .teachers-wrapper:hover .info-people-lastName {
        color: #FCB346;
    }
    .teachers-image {
        z-index: 2;
        position: absolute;
        bottom: -2px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .teachers-image img {
        height: 250px;
    }
    .teacher-burger-back, .teacher-border-back {
        z-index: 1;
    }
    
    .teacher-burger-back {
        position: absolute;
        top: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }
    
    .teacher-border-back {
        position: absolute;
        top: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .teachers-image-people {
        z-index: 2;
        position: absolute;
        bottom: -2px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .teachers-image-people img {
        height: 250px;
    }
    .teachers-wrapper-info-people {
        display: flex;
        margin-left: 22px;
        margin-top: 45px;
        flex-flow: column wrap;
        gap: 3px;
    }
    .teachers-info-people-lastName {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.05em;

        color: #2F80ED;
    }
    .teachers-info-people-name-firstName{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;

        letter-spacing: 0.05em;
        color: #3E4554;
    }
    
    .teachers-info-people-name-secondName {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;

        letter-spacing: 0.05em;
        color: #3E4554;
        margin-left: 5px;
    }
    
    .teachers-info-people-status {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
    
        color: #3E4554;
    }
    .teachers-name-container{
        display: flex;
    }
    .teachers-project-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin-left: 695px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;

        text-align: right;
        letter-spacing: 0.02em;

        color: #3E4554;
    }
    .teachers-project-container span{
        margin-left: 10px;
        font-weight: 300;
    }
    .teachers-more-info div{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */

        letter-spacing: 0.05em;

        color: #959CB1;

        margin-top: 20px;
        border-bottom: 3px solid #D3DBE6;
    }
    .teachers-more-info{
        display: inline-block;
        width: 540px;
    }
    .teachers-more-info span{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        /* float:right; */
        margin-left: 10px;
        text-align: right;
        letter-spacing: 0.02em;

        color: #3E4554;

    }
    .teachers-interests{
        display: inline-block;
        margin-left: 60px;

    }
    .teacher-interests-more{
        display: inline-block;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.05em;

        color: rgba(62, 69, 84, 0.18);

        width: 538px;
        height: 357px;
    }
    .teacher-interests-scientific{
        margin-bottom: 15px;
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.05em;

        color: #2F80ED;
    }



    .preloader {
        /*фиксированное позиционирование*/
        position: fixed;
        /* координаты положения */
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        /* фоновый цвет элемента */
        background: #e0e0e0;
        /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
        z-index: 1001;
      }
  
      .preloader__row {
        position: relative;
        top: 50%;
        left: 50%;
        width: 70px;
        height: 70px;
        margin-top: -35px;
        margin-left: -35px;
        text-align: center;
        animation: preloader-rotate 2s infinite linear;
      }
  
      .preloader__item {
        position: absolute;
        display: inline-block;
        top: 0;
        background-color: #337ab7;
        border-radius: 100%;
        width: 35px;
        height: 35px;
        animation: preloader-bounce 2s infinite ease-in-out;
      }
  
      .preloader__item:last-child {
        top: auto;
        bottom: 0;
        animation-delay: -1s;
      }
  
      @keyframes preloader-rotate {
        100% {
          transform: rotate(360deg);
        }
      }
  
      @keyframes preloader-bounce {
  
        0%,
        100% {
          transform: scale(0);
        }
  
        50% {
          transform: scale(1);
        }
      }
  
      .loaded_hiding .preloader {
        transition: 0.3s opacity;
        opacity: 0;
      }
  
      .loaded .preloader {
        display: none;
      }

  

  
  
  button {
    border: none;
    
  }
  .content-tabs {
    flex-grow : 1;
    background-color: #F1F9FF;
        padding: 40px 165px 70px 165px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.02em;

        color: #3E4554;
  }
  .content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }
  .content h2 {
    padding: 0px 0 5px 0px;
  }
  .content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }
  .content p {
    width: 100%;
    height: 100%;
  }
  .active-content {
    display: block;
    background-color: #F1F9FF;
    padding: 0px 165px;

  }
  .bloc-tabs {
    display: flex;
    padding:25px 165px 0px 165px
  }
  .tabs {
  
    padding: 15px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
  }
  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs  {
    background: white;
    border-bottom: 1px solid transparent;
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: 43px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: rgb(88, 147, 241);
  }
  
  .bloc-tabs button{
    margin-top: 20px;
    border-bottom: 3px solid #D3DBE6;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #000000;
    margin-top: 26px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    box-shadow: 0 2px 0px 0 #d3dbe6; 
  }
  