.description-destination-link {
    padding: 140px 0px 15px 150px;
    display: flex;
    align-items: center;
}
.description-destination-link a{
    text-decoration: none;
    margin-right: 15px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;

    letter-spacing: 0.05em;

    color: #3E4554;
}
.description-destination-link a span{
    margin-left: 15px;
}
.destination{
    padding: 27px 165px 0px 165px;
    margin-bottom: 110px;
    display: flex;
    flex-direction: row;
}
.description-destination-info-wrapper {
    width: 50%;
    margin-right: auto;
}

.description-destination-info-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.05em;
}

.description-destination-info {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.05em;
    margin-bottom: 25px;
}
.description-destination-info span{
    color:#2F80ED;

}
.description-destination{  
    font-family: Montserrat;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #3E4554;
}
.description-destination span{
    font-weight: bold;
}
.directions-card{
    margin-bottom: 20px;
}
.description-destination-cards a{
    text-decoration: none;
}
@media (max-width: 1100px) {
    .destination {
        flex-direction: column;
        padding: 10px 20px !important;
    }
    .description-destination-link {
        padding: 100px 0px 15px 20px;
    }
    .description-destination-info-title{
        font-size: 16px;
    }
    .description-destination-info, .description-destination{
        width: auto;
        font-size: 14px;
    }
    .description-destination-info-wrapper{
        width: auto;
        margin-right: 0;
        margin-bottom: 140px;
    }
    .directions-card {
        width: auto;
        margin-left: 150px;
    }
}

@media (max-width: 600px) {
    .destination {
        padding: 60px 15px !important;
    }
    .directions-card {
        width: auto;
        margin-left: 0px;
    }
    
}

